/* Scrollbar */
::-webkit-scrollbar{
	width:3px;
	background-color: #5E6B9C;
}
::-webkit-scrollbar-thumb{
	background-color: #457AFF;
}
::-webkit-scrollbar-thumb:hover{
	background-color: #D0D6ED;
}

/* Forms */
.form-control {
	height: 50px;
	font-size: 17px;
	color: #fff;
	border: 0px;
}
.form-control:focus {
	box-shadow: 0 0 10px 0 rgba(72,116,211,0.15);
}
.form-control.dirty {
	border: 1px solid #3DD91E;
}
.form-control.error {
	border: 1px solid #FB5551;
}
.form-control.nothing {
	border: 0px;
}

/* Tips */
.tip:hover:after {
	content: attr(data-title);
	position: absolute;
	margin-left: 2px;
    padding: 2px 6px;
    max-width: 200px;
    font-size: 14px;
    color: #D0D6ED;
    background-color: #121C42;
    box-shadow: 0 0 50px 0 rgba(101,114,195,0.15);
    border-radius: 5px;
}

/* Learn more */
.learn-more {
	color: #BDBDBD;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}