.form-control {
	height: 50px;
	font-size: 17px;
	color: #fff;
	border: 0px;
}
.form-control:focus {
	box-shadow: 0 0 10px 0 rgba(72,116,211,0.15);
}
.form-control.dirty {
	border: 1px solid #3DD91E;
}
.form-control.error {
	border: 1px solid #FB5551;
}
.tip:hover:after {
	content: attr(data-title); 
	position: absolute;
	z-index: 1;
	font-size: 13px; /* Размер текста подсказки */
	color: #A4A4A4;
	background-color: #fff;
	padding: 3px 5px; /* Поля */
	border: 1px solid #BDBDBD; /* Параметры рамки */
}
.learn-more {
	color: #BDBDBD;
}
.pageHeader {
	word-spacing: 10px;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}