<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<!-- Bootstrap CSS 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	-->
	<link rel="stylesheet" href="fonts/fonts.css" type="text/css"/>
	<link rel="stylesheet" href="sass/bootstrap.css" type="text/css"/>
	<link rel="stylesheet" href="css/index.css" type="text/css"/>
	<link rel="stylesheet" href="sass/no-bootstrap.css" type="text/css"/>
	<title>Airdrop</title>
	
	<!-- <script type="text/javascript" src="js/truffle-contract.min.js"></script> -->
	<script type="text/javascript" src="js/web3.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vuelidate@0.7.4/dist/validators.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vuelidate@0.7.4/dist/vuelidate.min.js"></script>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>		
	<div class="container" id="app" v-cloak>
		<!-- Header --> 
		<div id="header">
			<div>
				<a href="https://www.phenom.team/" target="_blank"><img src="images/logo.svg" alt="logo"></a>
				<ul class="nav online" v-if="userAddress">
					<li><span class="key">Account:</span> {{ userAddress }} <i class="far fa-copy" data-title="Copy" @click="copyFullAddress()"></i></li>
					<li><span class="key">Balance:</span> {{ userBalance }}ETH</li>
					<li><span class="key">Nonce:</span> {{ userNonce }}</li>
					<li>{{ network }}</li>
					<li class="status">Online</li>
					<li class="status-lamp"><svg width="16px" height="17px" viewBox="0 0 16 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<g id="Artboard" transform="translate(-1304.000000, -33.000000)" fill="#3DD91E">
								<g id="Head_online" transform="translate(-1.000000, -1.000000)">
									<g id="Online" transform="translate(1247.000000, 34.000000)">
										<path d="M66.000008,5.624959 C67.65688,5.624959 68.99996,6.933208 68.99996,8.546881 C68.99996,10.160554 67.65688,11.468704 66.000008,11.468704 C64.343136,11.468704 62.999968,10.160554 62.999968,8.546881 C62.999968,6.933208 64.343136,5.624959 66.000008,5.624959 Z" id="Ellipse-1299"></path>
										<path d="M66.0000002,15.8231827 C66.0376486,15.805171 66.0793011,15.7850728 66.1247743,15.7629202 C66.3921681,15.6326571 66.6907068,15.4799742 67.012513,15.3062774 C67.9319611,14.8099997 68.8512303,14.2461263 69.7068359,13.6267972 C72.0882805,11.9029914 73.500028,10.1014224 73.500028,8.375018 C73.500028,4.23287692 70.1421502,0.874973 66,0.874973 C61.8578652,0.874973 58.49999,4.23287953 58.49999,8.375018 C58.49999,10.1014227 59.9117343,11.9029917 62.2931735,13.6267975 C63.1487771,14.2461265 64.0680443,14.81 64.9874902,15.3062776 C65.3092957,15.4799744 65.6078337,15.6326573 65.8752269,15.7629204 C65.9206998,15.7850729 65.9623521,15.8051711 66.0000002,15.8231827 Z" id="Ellipse-1299-copy" stroke="#7CFF62" opacity="0.2"></path>
									</g>
								</g>
							</g>
						</g>
					</svg></li>
				</ul>
				<ul class="nav offline" v-else>
					<li data-title="Log in and select Mainnet or Rinkeby in MetaMask">Offline</li>
					<li class="status-lamp"><svg class="svg-red" width="16px" height="17px" viewBox="0 0 16 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<g id="Artboard" transform="translate(-1304.000000, -33.000000)" fill="#FB5551">
								<g id="Head_offline" transform="translate(-1.000000, -1.000000)">
									<g id="Online" transform="translate(1247.000000, 33.000000)">
										<path d="M66.000008,6.624959 C67.65688,6.624959 68.99996,7.933208 68.99996,9.546881 C68.99996,11.160554 67.65688,12.468704 66.000008,12.468704 C64.343136,12.468704 62.999968,11.160554 62.999968,9.546881 C62.999968,7.933208 64.343136,6.624959 66.000008,6.624959 Z" id="Ellipse-1299"></path>
										<path d="M66,1.874973 C61.8578652,1.874973 58.49999,5.23287953 58.49999,9.375018 C58.49999,13.5171203 61.857848,16.874949 66,16.874949 C70.1421674,16.874949 73.500028,13.5171229 73.500028,9.375018 C73.500028,5.23287692 70.1421502,1.874973 66,1.874973 Z" id="Ellipse-1299-copy" stroke="#FF6D69" opacity="0.2"></path>
									</g>
								</g>
							</g>
						</g>
					</svg></li>
				</ul>
			</div>
		</div>	
		<div id="wrapper">	
			<img src="images/parashut.svg" alt="" class="parashut-large">	
			<img src="images/parashut.svg" alt="" class="parashut-medium">	
			<img src="images/parashut.svg" alt="" class="parashut-small">	
			<!-- Nav tabs -->
			<div id="menu">
				<ul class="nav" role="tablist">
					<li class="nav-item">
						<a class="nav-link active start" data-toggle="tab" href="#home" role="tab">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" :class="{disabled: !userAddress}" data-toggle="tab" href="#create" role="tab" data-title="Log in to the MetaMask extension">Create</a>
					</li>
					<li class="nav-item" @click="fromInteractToSelect()">
						<a class="nav-link" :class="{active: isActiveSelect, disabled: !isActiveSelectTab}" data-toggle="tab" href="#select" role="tab" data-title="Create a token to interact with">Select</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" :class="{active: isActiveInteract, disabled: !isActiveInteractTab}" data-toggle="tab" href="#interact" role="tab" data-title="Select your token for interaction">Interact</a>
					</li>
				</ul>
			</div>
			<!-- Tab panes -->
			<div class="tab-content">
				<!-- Home content -->
				<div class="tab-pane active" id="home" role="tabpanel">
					<h2 class="text-center">Welcome to the <span>Airdrop dApp</span></h2>
					<h3 class="text-center"><span>What</span> is Airdrop?</h3>
					<h5 class="text-center">Airdrop is an application to send ERC20 tokens to Ethereum wallet list (up to 100). 
						<span class="learn-more" @click="learnMoreOne = !learnMoreOne">Learn more...</span>
						<br>
						<transition name="fade">
							<span v-if="learnMoreOne" class="tips">With Phenom Airdrop decentralized application you can easily create ERC20 tokens, interact and send them to dozens of addresses in a couple of clicks. Airdrops are commonly used as a marketing strategy and can increase awareness of your project and attract new supporters. 
								Try it out, this solution makes the process of Airdrop intuitive as it should be.</span>
						</transition>
					</h5>			
					<h3 class="text-center"><span>How</span> to use Airdrop?</h3>
					<h5 class="text-center home-h3-bottom" v-if="userAddress">First, you need to <span>“Create“</span> a token, then <span>“Select“</span> it and go to the <span>“Interact“</span> tab, then select the <span>“Drop token“</span> method and drop your tokens. 
						<span class="learn-more" @click="learnMoreTwo = !learnMoreTwo">Learn more...</span>
						<br>
						<transition name="fade">
							<span v-if="learnMoreTwo" class="tips">You can create either standard (with fixed total supply) or mintable (with the opportunity to mint new tokens) ERC20 token in “Create” tab. Select your token in “Select” tab and the method of smart-contract in “Interact” tab. For airdrop just choose “Drop token” from the dropdown menu and upload CSV or TXT file where a set of Ethereum addresses (up to 100) and amount of tokens to be sent are specified.</span>
						</transition>
					</h5>
					<h5 class="text-center home-h3-bottom" v-else>To start working with Airdrop, you need to <span class="learn-more"><a href="https://metamask.io/" target="_blank">download</a></span> and log in to the Chrome <span>"MetaMask"</span> browser extension. 
						<span class="learn-more" @click="learnMoreTwo = !learnMoreTwo">Learn more...</span>
						<br>
						<transition name="fade">
							<span v-if="learnMoreTwo" class="tips">After you logged in, you have to reload the page. Select Mainnet or Rinkeby in MetaMask to work with Airdrop dApp.</span>
						</transition>
					</h5>	
				</div>
				<!-- Create content -->		
				<div class="tab-pane" id="create" role="tabpanel">
					<div class="token-type">
						<ul class="nav" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" data-toggle="tab" href="#standard-token" role="tab">STANDARD TOKEN</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#mintable-token" role="tab">MINTABLE TOKEN</a>
							</li>
						</ul>
					</div>
					<div class="tab-content">
						<!-- Create standard -->	
						<div class="tab-pane active" id="standard-token" role="tabpanel">
							<h3 class="text-center">Standard token <span class="tip" data-title="Standard token - has fixed total supply."><i class="fas fa-question-circle"></i></span></h3> 	
							<div class="form-group">
								<label for="stand-name">Token name (optional):</label>
								<input type="text" class="form-control" id="stand-name" v-model.trim="standName" placeholder="MyToken">
							</div>
							<div class="form-group">
								<label for="stand-symbol">Symbol:</label>
								<input type="text" class="form-control" :class="status($v.standSymbol)" id="stand-symbol" v-model.trim="$v.standSymbol.$model" placeholder="MTK">
							</div>	
							<div class="form-group">
								<label for="stand-decimals">Decimals:</label>
								<input type="text" class="form-control" :class="status($v.standDecimals)" id="stand-decimals" v-model="$v.standDecimals.$model" placeholder="18">
							</div>
							<div class="form-group">
								<label for="stand-totalSupply">Total supply:</label>
								<input type="text" class="form-control" :class="status($v.standTotalSupply)" id="stand-totalSupply" v-model="$v.standTotalSupply.$model" placeholder="1000000000">
							</div>
							<div class="form-group">
								<label for="stand-transferable">Transferable:</label>
								<select class="custom-select" v-model="standTransferable">
									<option value="Yes">Yes</option>
									<option value="">No</option>
								</select>
							</div>	
							<button id="create-standard" class="btn btn-outline-primary" @click="createStandard()">CREATE</button>
						</div>
						<!-- Create mintable -->
						<div class="tab-pane" id="mintable-token" role="tabpanel">
							<h3 class="text-center">Mintable token <span class="tip" data-title="Mintable token - has opportunity to mint new tokens."><i class="fas fa-question-circle"></i></span></h3>
							<div class="form-group">
								<label for="mint-name">Token name (optional):</label>
								<input type="text" class="form-control" id="mint-name" v-model.trim="mintName" placeholder="MyToken">
							</div>
							<div class="form-group">
								<label for="mint-symbol">Symbol:</label>
								<input type="text" class="form-control" :class="status($v.mintSymbol)" id="mint-symbol" v-model.trim="$v.mintSymbol.$model" placeholder="MTK">
							</div>	
							<div class="form-group">
								<label for="mint-decimals">Decimals:</label>
								<input type="text" class="form-control" :class="status($v.mintDecimals)" id="mint-decimals" v-model="$v.mintDecimals.$model" placeholder="18">
							</div>
							<div class="form-group">
								<label for="mint-transferable">Transferable:</label>
								<select class="custom-select" v-model="mintTransferable">
									<option value="Yes">Yes</option>
									<option value="">No</option>
								</select>
							</div>
							<button id="create-mintable" class="btn btn-outline-primary" @click="createMintable()">CREATE</button>
						</div>
					</div>			
				</div>
				<!-- Select content -->
				<div class="tab-pane" :class="{active: isActiveSelect}" id="select" role="tabpanel">
					<h3 class="text-center">Select token to interact</h3>
					<div class="tableWrapper">
						<table>
							<thead>
								<tr>
									<th>SELECTED</th>
									<th>SYMBOL</th>
									<th>TYPE</th>
									<th>ADDRESS</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="(yourToken, index) in arrOfTokens" @click="changeRadio(index)">				    		
									<td>								
										<label class="form-check-label">
											<input type="radio" class="form-check-input" name="optionsRadios" :value="index" v-model="picked">
										</label>
									</td>
									<td>{{ yourToken.symbol }}</td>
									<td>{{ yourToken.type }}</td>							
									<td>{{ yourToken.addressShort }}</td>							
								</tr>
							</tbody>
						</table>
					</div>
					<button id="interact-token" class="btn btn-outline-primary" @click="interactWithToken()">INTERACT</button>
				</div>
				<!-- Interact content -->
				<div class="tab-pane" :class="{active: isActiveInteract}" id="interact" role="tabpanel">
					<h6>Selected token</h6>
					<h5>{{ selectedAddress }}</h5>
					<!-- Token info -->				
					<div class="token-info-background">
						<span>Token info</span>	
						<div class="token-info-stuff">
							<table v-for="token in tokenInfo">
								<tr v-if="token.name">
									<td class="key-info">Name</td> 
									<td>{{ token.name }}</td>
								</tr>
								<tr>
									<td class="key-info">Symbol</td> 
									<td>{{ token.symbol }}</td>
								</tr>
								<tr>
									<td class="key-info">Decimals</td> 
									<td>{{ token.decimals }}</td>
								</tr>					
								<tr v-if="canMint">
									<td class="key-info">Current Supply <span class="tip" data-title="Current supply means you can still mint new tokens"><i class="fas fa-question-circle"></i></span></td>
									<td>{{ token.totalSupply }}</td>
								</tr>
								<tr v-else>
									<td class="key-info">Total Supply</td>
									<td>{{ token.totalSupply }}</td>
								</tr>
								<tr>
									<td class="key-info">Transferable <span class="tip" data-title="Сan holders send token?"><i class="fas fa-question-circle"></i></span></td>
									<td>{{ token.transferable }}</td>
								</tr>
								<tr v-if="showCanMint">
									<td class="key-info">Can mint <span class="tip" data-title="Сan you mint new tokens?"><i class="fas fa-question-circle"></i></span></td>
									<td>{{ token.mintingFinished }}</td>
								</tr>
								<tr>
									<td class="key-info">Type <span class="tip" data-title="Standard - has fixed total supply. Mintable - has opportunity to mint new tokens."><i class="fas fa-question-circle"></i></span></td>
									<td>{{ token.type }}</td>
								</tr>
								<tr>
									<td class="key-info">Your balance</td>
									<td>{{ token.balance }}</td>
								</tr>
							</table>
						</div>
					</div>
					<!-- Select method -->					
					<div class="token-methods">
						<h3>Select method</h3>
						<div class="choice-of-method">
							<span>Method name:</span>
							<br>
							<select v-model="selectedMethod" @input="selectMethod($event.target.value)">
								<option value="Drop token">Drop token</option>
								<option value="Balance of">Balance of</option>
								<option value="Transfer">Transfer</option>
								<option value="Transfer from">Transfer from</option>
								<option value="Approve">Approve</option>
								<option value="Allowance">Allowance</option>
								<option v-if="showTransferable" value="Make transferable">Make transferable</option>
								<option v-if="canMint" value="Finish minting">Finish minting</option>
								<option v-if="canMint" value="Mint tokens">Mint tokens</option>
							</select>
						</div>
						<!-- Drop token -->
						<div class="form-group" v-if="isActiveDrop">					    	
							<label for="list-of-recipients">List of addresses and amount of tokens (.csv or .txt):</label>
							<input type="file" class="form-control" accept=".csv, .txt" @change="handleFileChange">
							<label>Example of the file can be downloaded from <a href="./files/addressesAndAmount.csv" download><span class="download-file">here</span></a>. To drop tokens to more then 100 addresses, please contact us at <a href="mailto:info@phenom.team" target="_blank">info@phenom.team.</a></label>
							<button id="drop-tokens" class="btn btn-outline-primary" @click="dropToken()">DROP</button>		
						</div>
						<!-- Balance of -->
						<div class="form-group" v-if="isActiveBalance">					    	
							<label>Wallet address:</label>
							<input type="text" class="form-control" :class="status($v.balanceAddress)" v-model.trim="$v.balanceAddress.$model" @change="inactiveBalanceOfWallet" placeholder="0x...">
							<button id="check-balance" class="btn btn-outline-primary" @click="checkBalance()">CHECK BALANCE</button>
							<span class="balanceOf">Balance of wallet:
								<span v-if="balanceOfWallet">{{ balanceOfWallet }}</span>
								<span v-else>0</span>
							</span> 
						</div>
						<!-- Transfer -->
						<div class="form-group" v-if="isActiveTransfer">					    	
							<label>Recepient address:</label>
							<input type="text" class="form-control" :class="status($v.recepientAddressTransfer)" v-model.trim="$v.recepientAddressTransfer.$model" placeholder="0x...">
							<label>Amount of tokens:</label>
							<input type="text" class="form-control" :class="status($v.amountOfTokensTransfer)" v-model.trim="$v.amountOfTokensTransfer.$model" placeholder="0">
							<button id="transfer" class="btn btn-outline-primary" @click="transfer()">TRANSFER</button>
						</div>
						<!-- Transfer from -->
						<div class="form-group" v-if="isActiveTransferFrom">					    	
							<label>Owner address:</label>
							<input type="text" class="form-control" :class="status($v.ownerAddressTransferFrom)" v-model.trim="$v.ownerAddressTransferFrom.$model" placeholder="0x...">
							<label>Recepient address:</label>
							<input type="text" class="form-control" :class="status($v.recepientAddressTransferFrom)" v-model.trim="$v.recepientAddressTransferFrom.$model" placeholder="0x...">
							<label>Amount of tokens:</label>
							<input type="text" class="form-control" :class="status($v.amountOfTokensTransferFrom)" v-model.trim="$v.amountOfTokensTransferFrom.$model" placeholder="0">
							<button id="transfer-from" class="btn btn-outline-primary" @click="transferFrom()">TRANSFER</button>
						</div>
						<!-- Approve -->
						<div class="form-group" v-if="isActiveApprove">					    	
							<label>Spender address:</label>
							<input type="text" class="form-control" :class="status($v.spenderAddressApprove)" v-model.trim="$v.spenderAddressApprove.$model" placeholder="0x...">
							<label>Amount of tokens:</label>
							<input type="text" class="form-control" :class="status($v.amountOfTokensApprove)" v-model.trim="$v.amountOfTokensApprove.$model" placeholder="0">
							<button id="approve" class="btn btn-outline-primary" @click="approve()">APPROVE</button>
						</div>
						<!-- Allowance -->
						<div class="form-group" v-if="isActiveAllowance">					    	
							<label>Owner address:</label>
							<input type="text" class="form-control" :class="status($v.ownerAddressAllowance)" v-model.trim="$v.ownerAddressAllowance.$model" @change="inactiveBalanceOfWallet" placeholder="0x...">
							<label>Spender address:</label>
							<input type="text" class="form-control" :class="status($v.spenderAddressAllowance)" v-model.trim="$v.spenderAddressAllowance.$model" @change="inactiveAllowanceOfWallet" placeholder="0x...">
							<button id="check-allowance" class="btn btn-outline-primary" @click="checkAllowance()">CHECK ALLOWANCE</button>
							<span class="balanceOf">Allowance of wallet:
								<span v-if="allowanceOfWallet">{{ allowanceOfWallet }}</span>
								<span v-else>0</span>
							</span>
						</div>
						<!-- Make transferable -->
						<div class="form-group" v-if="isActiveMakeTransferable">					    	
							<label>After this action, each holder will be able to send tokens. Are you sure?</label>
							<select v-model="makeTransferableBool">
								<option value="">No</option>
								<option value="Yes">Yes</option>
							</select>
							<button id="make-transferable" class="btn btn-outline-primary" @click="makeTransferable()">MAKE TRANSFERABLE</button>
						</div>
						<!-- Finish Minting -->
						<div class="form-group" v-if="isActiveFinishMinting">					    	
							<label>After this action, you will not be able to mint new tokens. Are you sure?</label>
							<select class="custom-select" v-model="finishMintingBool">
								<option value="">No</option>
								<option value="Yes">Yes</option>
							</select>
							<button id="finish-minting" class="btn btn-outline-primary" @click="finishMinting()">FINISH MINTING</button>
						</div>
						<!-- Mint tokens -->
						<div class="form-group" v-if="isActiveMintTokens">					    	
							<label>Recepient address:</label>
							<input type="text" class="form-control" :class="status($v.recepientAddressMintTokens)" v-model.trim="$v.recepientAddressMintTokens.$model" placeholder="0x...">
							<label>Amount of tokens:</label>
							<input type="text" class="form-control" :class="status($v.amountOfTokensMintTokens)" v-model.trim="$v.amountOfTokensMintTokens.$model" placeholder="0">
							<button id="mint-tokens" class="btn btn-outline-primary" @click="mintTokens()">MINT TOKENS</button>
						</div>
					</div>				
				</div>
			</div>
		</div>
		<!-- Footer --> 
		<div id="footer">
			<div>
				<span>© 2018, Phenom - Blockchain Team</span>
				<ul class="nav">
					<li><a href="https://t.me/phenomteam" target="_blank"><i class="fab fa-telegram-plane"></i></a></li>
					<li><a href="https://www.facebook.com/PhenomCompany/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
					<li><a href="https://twitter.com/phenom_company" target="_blank"><i class="fab fa-twitter"></i></a></li>
					<li><a href="https://github.com/phenom-company/air-drop" target="_blank"><i class="fab fa-github"></i></a></li>
				</ul>				
			</div>
		</div>
	</div>
	
	<script src="js/abiOfContracts.js"></script>
	<script src="js/vueApp.js"></script>
</body>
</html>
