<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="../css/index.css" type="text/css"/>
    <title>Airdrop</title>
	
	<!-- <script type="text/javascript" src="js/truffle-contract.min.js"></script> -->
	<script type="text/javascript" src="js/web3.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vuelidate@0.7.4/dist/validators.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vuelidate@0.7.4/dist/vuelidate.min.js"></script>
	<!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>
  <body>
	<div class="container" id="app">
		<h1 class="text-center">Airdrop</h1>
		<h5 class="text-center"><a href="https://www.phenom.team/">by Phenom.Team</a></h5>
		<!-- Nav tabs -->
		<ul class="nav nav-tabs justify-content-center" role="tablist">
		  <li class="nav-item">
		    <a class="nav-link" data-toggle="tab" href="#home" role="tab">Home</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" data-toggle="tab" href="#create" role="tab">Create</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link active" data-toggle="tab" href="#select" role="tab">Select</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" data-toggle="tab" href="#interact" role="tab">Interact</a>
		  </li>
		</ul>
		<!-- Tab panes -->
		<div class="tab-content">
<!-- Home content -->
			<div class="tab-pane" id="home" role="tabpanel">
				
			</div>
<!-- Create content -->		
			<div class="tab-pane" id="create" role="tabpanel">
				<div class="col-md-8 col-md-push-2">
					<br>
					<ul class="nav nav-pills" role="tablist">
					  <li class="nav-item">
					    <a class="nav-link active" data-toggle="tab" href="#standard-token" role="tab">Standard token</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" data-toggle="tab" href="#mintable-token" role="tab">Mintable token</a>
					  </li>
					</ul>
					<div class="tab-content">	
					  <div class="tab-pane active" id="standard-token" role="tabpanel">
					  	<h3 class="text-center"><br>Standard token</h3> 	
						  	<div class="form-group">
								<label for="stand-name">Token name (optional):</label>
						        <input type="text" class="form-control dirty" id="stand-name" v-model.trim="standName" placeholder="MyToken">
						    </div>
						    <div class="form-group">
								<label for="stand-symbol">Symbol:</label>
						        <input type="text" class="form-control" :class="status($v.standSymbol)" id="stand-symbol" v-model.trim="$v.standSymbol.$model" placeholder="MTK">
						    </div>	
						    <div class="form-group">
								<label for="stand-decimals">Decimals:</label>
						        <input type="text" class="form-control" :class="status($v.standDecimals)" id="stand-decimals" v-model="$v.standDecimals.$model" placeholder="18">
						    </div>
						    <div class="form-group">
								<label for="stand-totalSupply">Total supply:</label>
						        <input type="text" class="form-control" :class="status($v.standTotalSupply)" id="stand-totalSupply" v-model="$v.standTotalSupply.$model" placeholder="1000000000">
						    </div>
						    <div class="form-group">
								<label for="stand-transferable">Transferable:</label>
								<br>
								<select class="custom-select" v-model="standTransferable">
								  <option value="Yes">Yes</option>
								  <option value="">No</option>
								</select>
						    </div>	
						    <button id="create-standard" class="btn btn-outline-primary" @click="createStandard()">Create</button>
						  </div>
					  <div class="tab-pane" id="mintable-token" role="tabpanel">
					  	<h3 class="text-center"><br>Mintable token</h3>
					  	<div class="form-group">
							<label for="mint-name">Token name (optional):</label>
					        <input type="text" class="form-control dirty" id="mint-name" v-model.trim="mintName" placeholder="MyToken">
					    </div>
					    <div class="form-group">
							<label for="mint-symbol">Symbol:</label>
					        <input type="text" class="form-control" :class="status($v.mintSymbol)" id="mint-symbol" v-model.trim="$v.mintSymbol.$model" placeholder="MTK">
					    </div>	
					    <div class="form-group">
							<label for="mint-decimals">Decimals:</label>
					        <input type="text" class="form-control" :class="status($v.mintDecimals)" id="mint-decimals" v-model="$v.mintDecimals.$model" placeholder="18">
					    </div>
					    <div class="form-group">
							<label for="mint-transferable">Transferable:</label>
					        <br>
							<select class="custom-select" v-model="mintTransferable">
							  <option value="Yes">Yes</option>
							  <option value="">No</option>
							</select>
					    </div>
					    <button id="create-mintable" class="btn btn-outline-primary" @click="createMintable()">Create</button>
					  </div>
					</div>
				</div>
			</div>
<!-- Select content -->
			<div class="tab-pane show active" id="select" role="tabpanel">
				<h3 class="text-center"><br>Select token to interact</h3>
				<br>
				<table class="table table-sm table-responsive">
				    <thead>
					    <tr>
							<th>Selected</th>
							<th>Symbol</th>
							<th>Type</th>
					    	<th>Address</th>
					    </tr>
				    </thead>
				    <tbody>
				    	<tr v-for="yourToken in arrOfTokens">
							<td>								
						        <label class="form-check-label">
						           <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios" value="option">
						        </label>
							</td>
							<td>{{ yourToken.symbol }}</td>
							<td>{{ yourToken.type }}</td>							
							<td>{{ yourToken.address }}</td>
						</tr>
				    </tbody>
				</table>
				<button id="interact-token" class="btn btn-outline-primary" @click="interactWithToken()">Interact</button>
			</div>
<!-- Interact content -->
			<div class="tab-pane" id="interact" role="tabpanel">
				<br>
				<div class="col">
					<div class="col-md-8 col-md-push-2">
						<div class="form-group">
							<label for="address-of-token"><br>Address of your token:</label>
					        <input type="text" class="form-control" id="address-of-token" v-model="addressAirdropToken" placeholder="Address of your token">
					    </div>
					    <div class="form-group">
							<label for="list-of-recipients">List of addresses and number of tokens:</label>
							<br>
						  	<label class="custom-file">
							  <input type="file" id="file" accept=".csv, .txt" @change="handleFileChange" class="custom-file-input">
							  <span class="custom-file-control"></span>
							</label>						
					    </div>

					    <button id="drop-tokens" class="btn btn-outline-primary" @click="parseText()">Drop</button>
				    </div>
				</div>				
			</div>
			<br>
		</div>
	</div>
	

    
    <script src="js/abiOfContracts.js"></script>
    <script src="js/vueApp.js"></script>
  </body>
</html>
